In [1]:
import pandas as pd
import requests
import json
import numpy as py

In [2]:
file = !curl -s --location --request GET "https://api.covid19api.com/live/country/united-states/status/confirmed"

In [3]:
change = file[0].replace('[','')
newFile = change.replace(']','')

In [4]:
df = pd.read_json(newFile,lines=True)

In [5]:
print("The state with the most confirmed cases: ","\n",df.loc[df.Confirmed.idxmax()])

The state with the most confirmed cases:
 ID             dbd78cce-dbef-46e8-a57b-09707534312a
Country                    United States of America
CountryCode                                      US
Province                                 California
City
CityCode
Lat                                           36.12
Lon                                         -119.68
Confirmed                                  10274349
Deaths                                        92626
Recovered                                         0
Active                                     10181723
Date                      2022-07-09 00:00:00+00:00
Name: 20938, dtype: object

In [6]:
print("The state with the least confirmed cases:","\n",df.loc[df.Confirmed.idxmin()])

The state with the least confirmed cases:
 ID             9cb646d4-fb86-4b74-8c16-df1f8d0bedaf
Country                    United States of America
CountryCode                                      US
Province               United States Virgin Islands
City
CityCode
Lat                                           18.35
Lon                                          -64.93
Confirmed                                         0
Deaths                                            0
Recovered                                         0
Active                                            0
Date                      1970-01-01 00:00:00+00:00
Name: 0, dtype: object

In [7]:
print("The average number of active cases:",df["Active"].mean())

The average number of active cases: 1077138.2980440562

In [8]:
from tabulate import tabulate
import pandas as pd
df2 = df.groupby(['Province'])['Confirmed'].max()
dataframe = pd.DataFrame(df2)
dataframe.style

In [9]:
from tabulate import tabulate
import pandas as pd
df2 = df.groupby(['Province']).max()

display(df2.drop(['ID','Country','City','CountryCode','Lat','CityCode','Lon'], axis = 1))

,Confirmed,Deaths,Recovered,Active,Date
Province,,,,,
Alabama,1373684,19786,0,1353898,2022-07-11 00:00:00+00:00
Alaska,275322,1286,0,274037,2022-07-11 00:00:00+00:00
American Samoa,6505,39,0,6474,2022-07-11 00:00:00+00:00
Arizona,2145765,30572,0,2115193,2022-07-11 00:00:00+00:00
Arkansas,877380,11608,0,865772,2022-07-11 00:00:00+00:00
California,10274349,92629,0,10181723,2022-07-11 00:00:00+00:00
Colorado,1554788,12839,0,1541949,2022-07-11 00:00:00+00:00
Connecticut,837751,11055,0,826696,2022-07-11 00:00:00+00:00
Delaware,287078,2998,0,284080,2022-07-11 00:00:00+00:00
Diamond Princess,49,0,0,49,2020-08-04 00:00:00+00:00
District of Columbia,158281,1352,0,156929,2022-07-11 00:00:00+00:00
Florida,6561833,76193,0,6485640,2022-07-11 00:00:00+00:00
Georgia,2667557,38685,0,2628872,2022-07-11 00:00:00+00:00
Grand Princess,103,3,0,100,2020-08-04 00:00:00+00:00
Guam,52823,372,0,52452,2022-07-11 00:00:00+00:00
Hawaii,313076,1524,0,311552,2022-07-11 00:00:00+00:00
Idaho,467770,4993,0,462777,2022-07-11 00:00:00+00:00
Illinois,3462948,38660,0,3424288,2022-07-11 00:00:00+00:00
Indiana,1787059,24352,0,1763111,2022-07-11 00:00:00+00:00
Iowa,800648,9703,0,790945,2022-07-11 00:00:00+00:00
Kansas,813020,8961,0,804059,2022-07-11 00:00:00+00:00
Kentucky,2632710,30056,0,2602654,2022-07-11 00:00:00+00:00
Louisiana,1326364,17431,0,1308933,2022-07-11 00:00:00+00:00
Maine,271596,2461,0,269135,2022-07-11 00:00:00+00:00
Maryland,1145444,14835,0,1130609,2022-07-11 00:00:00+00:00
Massachusetts,1936447,23751,0,1915412,2022-07-11 00:00:00+00:00
Michigan,2619533,36982,0,2582551,2022-07-11 00:00:00+00:00
Minnesota,1561487,13161,0,1548326,2022-07-11 00:00:00+00:00
Mississippi,845205,12545,0,832660,2022-07-11 00:00:00+00:00
Missouri,1529886,20992,0,1508894,2022-07-11 00:00:00+00:00
Montana,289345,3450,0,285895,2022-07-11 00:00:00+00:00
Nebraska,503390,4344,0,499046,2022-07-11 00:00:00+00:00
Nevada,774845,11074,0,763771,2022-07-11 00:00:00+00:00
New Hampshire,333789,2602,0,331187,2022-07-11 00:00:00+00:00
New Jersey,2520736,34109,0,2486627,2022-07-11 00:00:00+00:00
New Mexico,570866,7963,0,562903,2022-07-11 00:00:00+00:00
New York,5668645,69799,0,5598846,2022-07-11 00:00:00+00:00
North Carolina,2892680,25257,0,2867423,2022-07-11 00:00:00+00:00
North Dakota,251876,2296,0,249580,2022-07-11 00:00:00+00:00
Northern Mariana Islands,11829,35,0,11794,2022-07-11 00:00:00+00:00
Ohio,2867291,38920,0,2828371,2022-07-11 00:00:00+00:00
Oklahoma,1084914,16159,0,1068755,2022-07-11 00:00:00+00:00
Oregon,823247,7851,0,815396,2022-07-11 00:00:00+00:00
Pennsylvania,3018129,45821,0,2972308,2022-07-11 00:00:00+00:00
Puerto Rico,802317,4631,0,797686,2022-07-11 00:00:00+00:00
Rhode Island,404604,3615,0,400989,2022-07-11 00:00:00+00:00
South Carolina,1560139,18043,0,1542096,2022-07-11 00:00:00+00:00
South Dakota,245705,2940,0,242765,2022-07-11 00:00:00+00:00
Tennessee,2139625,26767,0,2112858,2022-07-11 00:00:00+00:00
Texas,7297449,88855,0,7208594,2022-07-11 00:00:00+00:00
United States Virgin Islands,0,0,0,0,1970-01-01 00:00:00+00:00
Utah,989767,4847,0,984920,2022-07-11 00:00:00+00:00
Vermont,136145,687,0,135458,2022-07-11 00:00:00+00:00
Virgin Islands,21103,119,0,20984,2022-07-11 00:00:00+00:00
Virginia,1890973,20740,0,1870233,2022-07-11 00:00:00+00:00
Washington,1684668,13344,0,1671324,2022-07-11 00:00:00+00:00
West Virginia,537443,7069,0,530374,2022-07-11 00:00:00+00:00
Wisconsin,1738219,14836,0,1723383,2022-07-11 00:00:00+00:00
Wyoming,165619,1991,0,163785,2022-07-11 00:00:00+00:00